.DS_Store
.idea
*.log
tmp/
*.code-workspace
.vscode/
backup/
env/
staticfiles/
static_files/
sec_key
stripe_key_sec
stripe_key_pub
gmail_pass
**/__pycache__/
db.*
orders.xlsx
**/migrations/
assign_seats.py
